################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeBasic/EvenOdd.cs
/.vs/PracticeBasic
